.company-header{
    @apply pt-24;

    .section-title{
        max-width: 664px;
    }

    @media screen and (max-width: 425px) {
        @apply pt-10;
    }

    .shape-img{
        @apply absolute right-5 top-0 rotate-90;
        @media screen and (max-width: 425px) {
            @apply hidden;
        }
    }
}

.company-header-text{
    @apply mt-6 mb-16;
    max-width: 719px;
    @media screen and (max-width: 425px) {
        @apply mb-6;
    }
}

.company-header-gallery{
    @apply grid grid-cols-3 relative gap-3;

    &::before{
        @apply w-full absolute -top-6 right-5;
        height: 24px;
        max-width: 346px;
        background: linear-gradient(90deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
        content: '';
        @media screen and (max-width: 425px) {
            @apply hidden;
        }
    }

    img{
        @apply w-full;
    }

    @media screen and (max-width: 425px) {
        @apply grid-cols-1;
    }
}