.company-our-story{
    @apply pt-24;

    .container{
        @apply grid grid-cols-2 gap-5;

        @media screen and (max-width:768px) {
            @apply grid-cols-1;
        }
    }

    .section-name{
        @apply font-semibold opacity-90 text-siteDark;
        letter-spacing: 0;
    }

    .section-title{
        @apply mb-6;
        max-width: 549px;
        @media screen and (max-width: 425px) {
            @apply mb-4;
        }
    }

    .left{
        p{
            max-width: 550px;
        }
    }

    .right{
        @apply bg-siteOrange flex items-center justify-center bg-opacity-60 p-5;

        .inner{
            @apply grid grid-cols-2;
            gap: 62px;

            .card{
                .line{
                    @apply mb-1;
                    width: 72px;
                    height: 6px;
                    background: linear-gradient(90deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
                }
            }

            @media screen and (max-width: 425px) {
                @apply grid-cols-1;
            }
        }
    }

    @media screen and (max-width: 425px) {
        @apply pt-6;
    }
}