.home-expertice-inner{
    @apply flex gap-[20px] justify-between md:flex-col;

    @media screen and (max-width: 768px) {
        gap: 30px;
    }
}

.home-expertice-inner .left{
    width: 50%;
    max-width: 624px;

    .section-title{
        margin-bottom: 24px;
    }

    & > p{
        color: #5D5F6D;
    }

    @media screen and (max-width: 768px) {
        @apply w-full;
    }
}

.home-expertice-inner .cards{
    @apply flex flex-col gap-3 relative;
    width: 50%;
    max-width: 515px;

    &::before{
        @apply absolute -bottom-2 left-0 w-full h-2;
        content: '';
        background: linear-gradient(90deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
    }
    &::after{
        @apply absolute -top-4 left-0 w-4 h-4 bg-main;
        content: '';
        @media screen and (max-width: 375px) {
            @apply hidden;
        }
    }

    .card{
        @apply bg-white flex p-8 gap-4 w-full;

        img{
            height: 47px;
            width: 47px;
        }

        h5{
            @apply font-semibold mb-2;
            font-size: 16px;
            line-height: 28px;
        }

        p{
            @apply font-medium w-full;
            max-width: 303px;
            font-size: 14px;
            color: #5D5F6D;
        }

        @media screen and (max-width: 375px) {
            @apply flex-col items-center text-center;
        }
    }

    @media screen and (max-width: 768px) {
        @apply w-full;
    }
}