@media screen and (max-width: 425px){
    .subscription{
        @apply p-0 mb-5;
    }
} 

.subscription-inner{
    @apply relative p-24 relative lsm:py-10 lsm:px-6;
    background: #666DFF;

    &::before{
        @apply absolute top-0 right-0 h-full;
        width: 24px;
        background: linear-gradient(180deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
        content: '';

        @media screen and (max-width: 425px) {
            @apply hidden;
        }
    }

    & > div{
        @apply grid grid-cols-2 items-center justify-between md:grid-cols-1 md:gap-8;

        h3{
            @apply font-semibold text-white gap-5;
            max-width: 488px;
            font-size: 36px;
            line-height: 54px;

            @media screen and (max-width: 425px) {
                font-size: 24px;
                line-height: 1.4;
            }
        }
    }

    .section-name{
        @apply text-white mb-3;
    }

    .angle{
        @apply absolute top-0 left-0 lsm:hidden;
        height: 99px;
    }

    form{
        width: 100%;

        input{
            @apply border-none outline-none bg-white w-full p-5;
            max-width: 488px;
        }
    }
}