.home-about-top{
    @apply flex gap-[20px] justify-between;

    & .section-title{
        max-width: 640px;
    }

    & .right{
        max-width: 547px;
    }

    @media screen and (max-width: 768px) {
        @apply flex-col;
    }
}

.home-about-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
    padding-right: 18px;
    position: relative;
    margin-top: 48px;

    &::before{
        @apply absolute right-0 top-0 h-full w-[18px];
        content: '';
        background: linear-gradient(180deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
        z-index: -1;
    }

    & img{
        @apply w-full h-[400px] object-cover;
    }

    @media screen and (max-width: 768px) {
        @apply pr-0 mt-5;
        grid-template-columns: 1fr;
        
        &::before{
            display: none;
        }
    }
}

.home-about-footer{
    @apply flex justify-between items-center mt-[48px] gap-5;

    @media screen and (max-width: 768px) {
        @apply flex-col;
    }
}

.home-about-footer-cards{
    @apply flex items-center max-w-[634px] justify-between w-full gap-3;

    @media screen and (max-width: 900px) {
        @apply flex-wrap;
    }
    @media screen and (max-width: 425px) {
        @apply grid grid-cols-2;
    }
}

.home-about-footer-cards .card{

    h3{
        margin-bottom: 8px;
    }

    .line{
        @apply w-[72px] h-[6px] mb-[4px];
        background: linear-gradient(90deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
    }

    p{
        @apply font-normal text-[16px];
        line-height: 24px;
    }
}

.home-about-footer-link{
    @apply flex items-center gap-2;
    
    span{
        color: #444CFC;
    }
}