.home-about-top{
    @apply flex gap-5 justify-between;

    & .section-title{
        max-width: 640px;
    }

    & .right{
        max-width: 547px;
    }

    @media screen and (max-width: 768px) {
        @apply flex-col;
    }
}

.home-about-images{
    @apply grid grid-cols-3 gap-3 pr-4 mt-12 relative md:grid-cols-1 md:pr-0 md:mt-5;
    &::before{
        @apply absolute right-0 top-0 h-full md:hidden;
        width: 18px;
        content: '';
        background: linear-gradient(180deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
        z-index: -1;
    }

    & img{
        @apply w-full object-cover;
        height: 400px;
    }
}

.home-about-footer{
    @apply flex justify-between items-center mt-12 gap-5 md:flex-col;
}

.home-about-footer-cards{
    @apply flex items-center max-w-[634px] justify-between w-full gap-3 lsm:grid lsm:grid-cols-2;

    @media screen and (max-width: 900px) {
        @apply flex-wrap;
    }
}

.home-about-footer-cards .card{

    h3{
        margin-bottom: 8px;
    }

    .line{
        @apply mb-1;
        width: 72px;
        height: 6px;
        background: linear-gradient(90deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
    }

    p{
        @apply font-normal;
        font-size: 16px;
        line-height: 24px;
    }
}

.home-about-footer-link{
    @apply flex items-center gap-2;
    
    span{
        color: #444CFC;
    }
}