.career-item-main{

    .container{
        @apply lsm:px-0;
        .inner{
            @apply bg-lightBlue;

            .heading{
                @apply flex justify-center items-center md:justify-between px-6 md:gap-9;
                gap: 95px;
                border-bottom: 4px solid #E0F1F2;
                overflow-x: scroll;
                &::-webkit-scrollbar{
                    @apply w-0 h-0 bg-transparent;
                }

                .heading-btn{
                    @apply -mb-1 leading-6 font-semibold lsm:pt-6 lsm:pb-6;
                    padding-top: 43px;
                    padding-bottom: 33px;
                    font-size: 24px;
                    border-bottom: 4px solid #E0F1F2;
                    transition: 0.4s ease-in-out;

                    &:hover, &.active{
                        @apply text-main border-b-main;
                    }

                    @media screen and (max-width:425px) {
                        font-size: 18px;
                    }
                }
            }

            .body{
                @apply flex items-center justify-center xsm:px-6 md:py-12;
                padding: 129px 32px;

                ul{
                    @apply flex flex-col gap-5 xlsm:gap-3;
                    max-width: 842px;
                    list-style: disc;
                }
            }
        }
    }
}