.main-btn {
	@apply font-medium text-[16px] text-white py-[20px] px-[32px] relative flex items-center gap-[10px];
	line-height: 24px;
    background: #444CFC;
	width: fit-content;
	transition: 0.4s ease-in-out;

	&:hover{
		@apply shadow-xl;
		transform: translateY(-2px);
	}

	& > .angle{
		@apply absolute top-0 left-0;
	}

}
