.main-btn {
	@apply font-medium text-white py-5 px-8 relative flex items-center bg-main;
	font-size: 16px;
	gap: 10px;
	line-height: 24px;
	width: fit-content;
	transition: 0.4s ease-in-out;

	&:hover{
		@apply shadow-xl;
		transform: translateY(-2px);
	}

	& > .angle{
		@apply absolute top-0 left-0;
	}

}
