.company-vacancies{
    @apply mb-16 lsm:mb-6;
}

.company-vacancies-inner{
    @apply bg-lightBlue grid grid-cols-3 lg:grid-cols-2 md:grid-cols-1 md:p-6 xlsm:p-4 xlsm:gap-4;
    padding: 72px;
    gap: 32px;

    .vacancy-name{
        @apply font-semibold mb-3 text-siteDark leading-7;
        font-size: 16px

    }

    .vacancy-time, .vacancy-salary{
        @apply leading-4 text-siteDark opacity-60 mb-1;
        font-size: 16px;
    }
}

.vacancy-link{
    @apply flex items-center gap-4 mt-12;

    span{
        @apply text-main font-medium;
        font-size: 16px;
    }
}