

.company-logos{
    .container{
        @apply bg-lightGrey flex items-center justify-between px-16;
        gap: 32px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            @apply h-0 w-0 bg-transparent;
        }

        &::-webkit-scrollbar-track {
            width: 0px;
          }

        img{
            height: 104px;
            width: 186px;
        }

        @media screen and (max-width: 425px) {
            @apply px-6;
        }
    }
}