.home-process{

    .section-title{
        @apply mb-4;
        max-width: 733px;
    }

    .section-text{
        max-width: 642px
    }

    .cards{
        @apply grid gap-12 grid-cols-3 lg:grid-cols-2 md:grid-cols-1 md:gap-6 md:mt-5;
        margin-top: 68px;

        .card{
            @apply border p-8 relative lsm:p-4;

            &:nth-child(1)::before, &:nth-last-child(1)::before{
                @apply absolute left-0 -bottom-2 w-full;
                height: 8px;
                content: '';
                background: linear-gradient(90deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
            }

            &:nth-last-child(1)::before{
                @apply -top-2;
            }

            .card-inner{
                @apply flex gap-4 lsm:flex-col;

                img{
                    width: 47px;
                    height: 47px;
                }

                p{
                    @apply opacity-60;
                    color: #232536;
                }
            }

            .number{
                @apply absolute top-3 right-3 opacity-20 font-semibold;
                font-size: 24px;
                line-height: 32px;
                color: #232536;
            }

            h6{
                @apply font-semibold;
                line-height: 28px;
            }
        }
    }
}