.home-process{

    .section-title{
        @apply max-w-[733px] mb-4;
    }

    .section-text{
        @apply max-w-[642px];
    }

    .cards{
        @apply grid gap-12 mt-[68px] grid-cols-3;

        .card{
            @apply border p-8 relative;

            &:nth-child(1)::before, &:nth-last-child(1)::before{
                @apply absolute left-0 bottom-[-8px] h-[8px] w-full;
                content: '';
                background: linear-gradient(90deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);
            }

            &:nth-last-child(1)::before{
                @apply top-[-8px];
            }

            .card-inner{
                @apply flex gap-4;

                img{
                    @apply h-[47px] w-[47px];
                }

                p{
                    @apply opacity-60;
                    color: #232536;
                }

                @media screen and (max-width: 425px) {
                    @apply flex-col;
                }
            }

            .number{
                @apply absolute top-3 right-3 opacity-20 font-semibold;
                font-size: 24px;
                line-height: 32px;
                color: #232536;
            }

            h6{
                @apply font-semibold;
                line-height: 28px;
            }

            @media screen and (max-width: 425px) {
                @apply p-4;
            }
        }

        @media screen and (max-width: 1100px) {
            @apply grid-cols-2;
        }
        @media screen and (max-width: 768px) {
            @apply grid-cols-1;
        }
        @media screen and (max-width: 425px) {
            @apply gap-6 mt-5;
        }
    }
}