.footer-main{
    @apply pt-12 pb-16 relative grid gap-5;
    grid-template-columns: 1fr 1.3fr;

    @media screen and (max-width: 768px) {
        @apply grid-cols-1;
    }

    img{
        @apply absolute top-0 left-5;
    }

    .footer-main-left{
        .heading{
            @apply text-siteDark font-semibold mb-10;
            max-width: 453px;
            font-size: 48px;
            line-height: 1.2;
        }

        .subheading{
            @apply text-siteDark mb-7;
            line-height: 1.5;
            font-size: 24px;
        }

        .links{
            @apply mb-4;
            a{
                @apply block font-medium;
            }
        }

        .line{
            @apply bg-black mb-4;
            max-width: 268px;
            height: 1px;
            opacity: 0.08;
        }

        .address{
            @apply font-medium;
            font-size: 14px;
            max-width: 207px;
        }
    }

    .footer-main-right{
        @apply flex flex-col justify-between gap-5;
        .footer-main-links{
            @apply grid grid-cols-3 lsm:grid-cols-1 lsm:gap-8;

            .site-links{
                @apply flex flex-col gap-3;
            }

            a{
                @apply hover:text-main;
            }

            .bold{
                @apply font-semibold;
            }
        }

        .contact-link{
            @apply flex items-center gap-2 hover:text-main;
            align-self: flex-end;
            .colored-box{
                @apply w-[50px] h-[14px];
                background: linear-gradient(90deg,  #FFD3AF 0%,#FFD3AF 30%, #666DFF 30%, #666DFF 100%) ;
            }
        }
    }
}

.footer-bottom{
    @apply bg-siteOrange;

    .container{
        @apply flex items-center justify-between py-5;

        .footer-bottom-right{
            @apply flex items-center gap-4 lsm:order-2 xsm:flex-col;
        }

        .socials{
            @apply flex items-center gap-3 lsm:order-1;
        }

        @media screen and (max-width: 425px) {
            @apply flex-col gap-7;
        }
    }

    img{
        height: 24.3px;
    }
}