.home-customer-inner{
    @apply grid gap-5;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 768px) {
        @apply gap-7;
        grid-template-columns: 100%;
    }

    .content{
        .box{
            @apply h-[16px] w-[16px] bg-main mb-4;
        }

        .section-title{
            @apply max-w-[492px] mb-4;
        }

        .bolder{
            @apply font-medium mb-4 block;
            font-size: 18px;
            line-height: 28px;
        }

        .text{
            @apply max-w-[492px] mb-6 block;
            color: #232536;
            opacity: 0.87;
        }

        .images{
            @apply flex gap-3 mb-3;
        }

        .footer-text{
            @apply font-medium;
            font-size: 12px;

            span{
                font-size: 16px;
            }
        }
    }
}


// Slider Card
.slider-card{
    @apply bg-white p-10 relative;

    @media screen and (max-width:425px) {
        @apply p-4;
    }

    &::before{
        @apply absolute top-0 -left-2 w-4 h-full;
        content: '';
        background: linear-gradient(180deg,  #FFA155 0%, #FFA155 25%, #FFE6D2 25%, #FFE6D2 75%, #444CFC 75%, #444CFC 100%);

        @media screen and (max-width:425px) {
            @apply hidden;
        }
    }

    .quote{
        @apply absolute -top-4 right-6;
    }

    h4{
        @apply font-semibold opacity-90 max-w-[490px] mb-6 opacity-90;
        font-size: 24px;
        line-height: 36px;
        color: #232536;

        @media screen and (max-width: 425px) {
            font-size: 18px;
        }
    }

    .footer-info{
        @apply flex justify-between;

        @media screen and (max-width: 425px) {
            @apply flex-col gap-3 items-start;
        }

        .left{
            @apply flex items-center;

            img{
                @apply w-[38px] h-[38px] mr-4;
            }

            .name{
                @apply font-semibold opacity-90;
            }

            .job{
                @apply font-medium opacity-60;
                font-size: 14px;
                line-height: 20px;
            }
        }

        & > img{
            @apply h-[25px] w-auto object-contain;
        }
    }
}

.slick-dots{
    bottom: -20px;
}

.slick-dots li button:before {
    font-size: 10px;
}
.slick-dots li.slick-active button:before {
    font-size: 12px;
}