@import "tailwindcss";

@theme {
  --color-main: #444CFC;
  --color-darkBlue: #232536;
  --color-lightBlue: #ECF8F9;
  --color-lightGrey: #F9F9FF;
  --color-siteOrange: #FFE6D2;
  --color-siteDark: #232536;
}

@custom-variant md (@media (max-width: 768px));
@custom-variant lg (@media (max-width: 1024px));
@custom-variant xlg (@media (max-width: 1440px));
@custom-variant xlsm (@media (max-width: 576px));
@custom-variant lsm (@media (max-width: 425px));
@custom-variant sm (@media (max-width: 375px));
@custom-variant xsm (@media (max-width: 320px));
