@import "tailwindcss";

@theme {
  --color-main: #444CFC;
  --color-darkBlue: #232536;
  --color-lightBlue: #ECF8F9;
  --color-lightGrey: #F9F9FF;
  --color-siteOrange: #FFE6D2;
  --color-siteDark: #232536;

  --breakpoint-xsm: 20rem;
  --breakpoint-sm: 23.4375rem;
  --breakpoint-lsm: 26.5625rem;
  --breakpoint-xlsm: 36rem;
}
