.service-header{
    @apply bg-siteOrange;
}

.service-header-inner{
    @apply grid;
    grid-template-columns: 1.2fr 1fr;

    @media screen and (max-width: 768px) {
        @apply grid-cols-1 gap-6;
    }
}

.service-header-left{
    p{
        @apply text-siteDark opacity-60 max-w-[624px] block my-6;
    }
}

.service-header-right{
    @apply flex items-center justify-center;

    @media screen and (max-width: 475px) {
        @apply justify-start;
    }
}

.service-header-links{
    @apply flex flex-col gap-4;

    .service-header-link{
        @apply font-semibold text-siteDark flex items-center gap-3;
        font-size: 24px;
        line-height: 1.5;

        .icon{
            @apply hidden;
        }

        &:hover{
            .icon{
                @apply inline-block;
            }
        }

        @media screen and (max-width: 475px) {
            @apply items-start;
            font-size: 18px;
            line-height: 1.2;
        }
    }
}